@import '../../scss/color';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 12px;
  border-bottom: 1px solid $gray-2;
  h2 {
    font-size: 16px;
    margin: 0;
  }
}

.routes-wrapper {
  position: relative;
  height: 100%;
  background-color: $gray-1;
  width: 240px;
}

.routes {
  position: absolute;
  height: calc(100vh - 128px);
  overflow: auto;
  width: 100%;
  &::-webkit-scrollbar {
    width: 3px;
  }
  &::-webkit-scrollbar-button {
    /* 2 */
  }
  &::-webkit-scrollbar-track {
    /* 3 */
  }
  &::-webkit-scrollbar-track-piece {
    /* 4 */
  }
  &::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,0.1);
  }
  &::-webkit-scrollbar-corner {
    /* 6 */
  }
  &::-webkit-resizer {
    /* 7 */
  }
  li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 12px 6px 9px;
    border-bottom: 1px solid $gray-2;
    border-left: solid 3px transparent;
    transition: 0.2s ease-in all;
    cursor: pointer;
  }
  li.active {
    background-color: rgba($color: $blue-6, $alpha: 0.05);
    border-left-color: $blue-6;
  }
  .name {
    color: $gray-9;
    width: 180px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .path {
    font-size: 12px;
    nz-tag {
      display: inline-block;
      padding: 0 5px;
      line-height: 16px;
      border-radius: 3px;
    }
  }
  .remove {
    color: $gray-4;
    transition: 0.2s ease-in all;
    &:hover {
      color: $red-5;
    }
  }
}
