<div class="header">
  <h1>Collections</h1>
  <button
    nz-button
    nzType="primary"
    nzSize="small"
    (click)="openCreateModal($event)"
  >
    <i nz-icon nzType="plus" nzTheme="outline"></i>New
  </button>
</div>
<ul class="collections">
  <li
    *ngFor="let item of collections"
    [ngClass]="{ active: item.id === activatedCollectionId }"
    (click)="handleClick(item.id)"
  >
    <div>
      <div class="name">{{ item.name }}</div>
      <div class="url">localhost:{{ item.port }}</div>
    </div>

    <i
      nz-icon
      class="remove"
      nzType="delete"
      nzTheme="fill"
      (click)="removeCollection(item.id, item.name)"
    ></i>
  </li>
</ul>
