@import '../../scss/color';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 56px;
  padding: 0 16px;
  background-color: rgba(16, 14, 23, 1);
  h1 {
    font-size: 16px;
    margin: 0;
    color: $blue-6;
    line-height: 56px;
  }
}

.collections {
  flex: 1;
  overflow-y: auto;
  &::-webkit-scrollbar {
    width: 3px;
  }
  padding-bottom: 22px;
  &::-webkit-scrollbar-button {
    /* 2 */
  }
  &::-webkit-scrollbar-track {
    /* 3 */
  }
  &::-webkit-scrollbar-track-piece {
    /* 4 */
  }
  &::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,0.5);
  }
  &::-webkit-scrollbar-corner {
    /* 6 */
  }
  &::-webkit-resizer {
    /* 7 */
  }
  li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 16px;
    border-bottom: solid 1px #202025;
    background-color: rgb(31, 28, 40, 0.8);
    cursor: pointer;
    transition: 0.2s ease-in all;
    border-left: 0 solid transparent;
    &:hover {
      background-color: rgb(255, 255, 255, 0.05);
    }
    .name {
      color: $gray-3;
    }
    .url {
      color: $gray-8;
    }
    .remove{
      color: $gray-8;
      transition: 0.2s ease-in all;
      &:hover {
        color: $red-5;
      }
    }
  }
  li.active {
    background-color: rgb(41, 46, 74, 1);
    border-left: 3px solid $blue-5;
    padding-left: 13px;
    .name {
      color: $gray-1;
    }
    .url {
      color: $gray-8;
    }
  }
}
