<form [formGroup]="formGroup">
  <div class="form-item">
    <input id="create-collection-name-input" nz-input placeholder="Collection Name" formControlName="name" />
  </div>
  <nz-alert
    nzType="error"
    nzMessage="Invalid name or empty"
    nzShowIcon
    *ngIf="formGroup.get('name').invalid && formGroup.get('name').dirty"
  ></nz-alert>
  <div class="form-item">
    <input id="create-collection-port-input" nz-input placeholder="Port" formControlName="port" />
  </div>
  <nz-alert
    nzType="error"
    nzMessage="Invalid port or empty"
    nzShowIcon
    *ngIf="formGroup.get('port').invalid && formGroup.get('port').dirty"
  ></nz-alert>
  <div class="form-item">
    <input
      id="create-collection-prefix-input"
      nz-input
      placeholder="Prefix(example: localhost/prefix/xxxx)"
      formControlName="prefix"
    />
  </div>
  <div class="form-item">
    <input
      id="create-collection-proxy-url-input"
      nz-input
      placeholder="ProxyUrl(Host for request that not matched route)"
      formControlName="proxyUrl"
    />
  </div>
</form>
