@import '../../scss/color';

.section-title {
  padding: 12px 0 6px 0;
  color: $gray-8;
  font-weight: bold;
  &:nth-child(1) {
    padding-top: 0;
  }
  span {
    color: $gray-6;
    font-weight: normal;
  }
}

.row {
  display: flex;
  align-items: center;
  padding-bottom: 6px;
  .title {
    padding-right: 12px;
  }
}

.header-group {
  display: flex;
  align-items: center;
  padding-bottom: 6px;
  .colon {
    padding: 0 6px;
  }
  .remove {
    color: $gray-5;
    transition: 0.2s ease-in all;
    margin-left: 12px;
    cursor: pointer;
    &:hover {
      color: $red-5;
    }
  }
}

.proxy-url {
  width: 300px;
}
