@import '../../scss/color';

.response-actions {
  display: flex;
  padding-bottom: 12px;
  padding-top: 12px;
  align-items: center;
  .title {
    font-weight: bold;
    color: $gray-9;
    padding-right: 12px;
  }
  nz-input-group {
    width: auto !important;
  }
}

.row {
  padding-bottom: 12px;
}

.method-path-group {
  display: flex;
}

.response-selector {
  margin-right: 12px;
  width: 200px;
}

.code-name-group {
  display: flex;
  align-items: center;
  nz-input-group {
    display: flex;
    width: 400px;
  }
  .remove{
    color: $gray-5;
    transition: 0.2s ease-in all;
    margin-left: 12px;
    cursor: pointer;
    &:hover {
      color: $red-5;
    }
  }
}

nz-tabset {
  width: calc(100vw - 505px);
  ::ng-deep {
    .ant-tabs-bar {
      margin: 0;
    }
  }
}
